
  
    
  <div class="content" role="main">
  
    <!-- Carousel
      ================================================== -->
      <div id="homeCarousel" class="carousel slide carousel-home" data-ride="carousel">
  
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#homeCarousel" data-slide-to="1"></li>
          <li data-target="#homeCarousel" data-slide-to="2"></li>
        </ol>
  
        <div class="carousel-inner" role="listbox">
  
          <div class="item active">
  
            <img src="assets/images/slider/belem.png" alt="">
  
            <div class="container">
  
              <div class="carousel-caption">
  
                <h2 class="carousel-title bounceInDown animated slow">Portal do Cidadão</h2>
                <h4 class="carousel-subtitle bounceInUp animated slow ">Serviços ao seu Alcance</h4>
                
  
              </div> <!-- /.carousel-caption -->
  
            </div>
  
          </div> <!-- /.item -->
  
  
          <div class="item ">
  
            <img src="assets/images/slider/fortaleza.png" alt="">
  
            <div class="container">
  
              <div class="carousel-caption">
  
                <h2 class="carousel-title bounceInDown animated slow">Together we can improve their lives</h2>
                <h4 class="carousel-subtitle bounceInUp animated slow"> So let's do it !</h4>
                <a href="#" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated" data-toggle="modal" data-target="#donateModal">DONATE NOW</a>
  
              </div> <!-- /.carousel-caption -->
  
            </div>
  
          </div> <!-- /.item -->
  
  
  
  
          <div class="item ">
  
            <img src="assets/images/slider/home-slider-3.jpg" alt="">
  
            <div class="container">
  
              <div class="carousel-caption">
  
                <h2 class="carousel-title bounceInDown animated slow" >A penny is a lot of money, if you have not got a penny.</h2>
                <h4 class="carousel-subtitle bounceInUp animated slow">You can make the diffrence !</h4>
                <a href="#" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" data-toggle="modal" data-target="#donateModal">DONATE NOW</a>
  
              </div> <!-- /.carousel-caption -->
  
            </div>
  
          </div> <!-- /.item -->
  
        </div>
  
        <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
          <span class="fa fa-angle-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
  
        <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
          <span class="fa fa-angle-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  
  </div><!-- /.carousel -->
  <div class="footer-top">
   
  <p></p>
  <p></p>
  
  </div>  
    <div class="row">
      <div class="col col-md-4">
        <div data-widget-parent-height="none" data-widget-effect="" data-widget-id="1702"
          id="e134e984-358a-700b-de2c-49527f1fb172" data-widget-type="image"
          class="layout-cpnt dashboards-widget ">
          <div>
            <h4 class="sr-only">Catalog button</h4> <a target=""
              href="/servico/iptu"><img
                src="../../assets/img/iptu.png" alt=""
                class="img-responsive full-width"></a>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <div data-widget-parent-height="none" data-widget-effect="" data-widget-id="1703"
          id="eab240f8-4cd1-655d-e898-c2e7286affae" data-widget-type="image"
          class="layout-cpnt dashboards-widget ">
          <div>
            <h4 class="sr-only">Nominations button</h4> <a target=""
              href="https://rewardzone.redhat.com/nominations"><img
                src="../../assets/img/matricula-escolar.png" alt=""
                class="img-responsive full-width"></a>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <div data-widget-parent-height="none" data-widget-effect="" data-widget-id="1704"
          id="e7f120f7-b33b-c71e-9594-62804893bc24" data-widget-type="image"
          class="layout-cpnt dashboards-widget ">
          <div>
            <h4 class="sr-only">FAQ button</h4> <a target="_blank"
              href="https://redhat.service-now.com/help?id=kb_search&amp;q=reward%20zone&amp;spa=1&amp;workflow_state=published"><img
                src="../../assets/img/marcar-consultas.png" alt=""
                class="img-responsive full-width"></a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col col-md-4">
        <div data-widget-parent-height="none" data-widget-effect="" data-widget-id="3486"
          id="68268962-98c8-f610-dd08-fdb267bcb628" data-widget-type="html"
          class="layout-cpnt dashboards-widget auto-responsive ">
          <div class="row">
            <div class="col-xs-12"> <a
                href="https://apps.globalengagementsolutions.com/rzd/validate.php?pin=CPFN2418"
                target="_blank"><img class="img-responsive fr-dib"
                src="../../assets/img//multas-transito.png" alt="3530"></a><br></div>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <div data-widget-parent-height="none" data-widget-effect="" data-widget-id="1705"
          id="9b19fdb4-f6ed-fe47-4af4-b4afbd18a670" data-widget-type="image"
          class="layout-cpnt dashboards-widget ">
          <div>
            <h4 class="sr-only">Rewards button</h4> <a target=""
              href="https://rewardzone.redhat.com/awards/myAwards"><img
              src="../../assets/img/atendimento-presencial.png" alt=""
                class="img-responsive full-width"></a>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <div data-widget-parent-height="none" data-widget-effect="" data-widget-id="1706"
          id="c9919faf-d046-c8e8-63ed-315546ecc2c9" data-widget-type="image"
          class="layout-cpnt dashboards-widget ">
          <div>
            <h4 class="sr-only">Minha Conta</h4> <a target=""
              href="https://rewardzone.redhat.com/account"><img
                src="../../assets/img/outros-servicos.png" alt=""
                class="img-responsive full-width"></a>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <router-outlet></router-outlet>
  