<div class="page-header">
    <h1>Portal do Cidadão  
       <small>Consultar IPTU</small>
    </h1>
 </div>
    <div class="row">
        <div class="form-group col-xs-5 col-lg-4">
            <label for="exampleInputEmail1">Inscrição do Imóvel</label>
            <input type="text" [(ngModel)]="nuInscricaoImovel"  class="form-control input-lg" id="incricaoInput" aria-describedby="incricaoHelp" placeholder="Inscrição do Imóvel">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-5 col-lg-4">
            <label for="exampleInputEmail1">CPF/CNPJ</label>
            <input type="text" [(ngModel)]="nuCpfCnpj" class="form-control input-lg" id="cpfCnpjInput" aria-describedby="cpfCnpjHelp" placeholder="CPF/CNPJ Proprietário">
        </div>
    </div>    
    <button type="button" (click)="consultarRegistros()" class="btn btn-primary">Consultar Registros</button>

<div class="simple-space"></div>
  <table class="table" *ngIf="iptu && this.emProcessamentoConsulta=='false'">
    <thead>
        <tr>
            <td>Número da inscrição</td>
            <td>Situação</td>
            <td>Valor a Pagar</td>
            <td>Forma de Pagamento</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let _iptu of iptus">
            <td style="vertical-align: middle;">
                {{_iptu.numeroInscricao}}
            </td>   
            <td style="vertical-align: middle;">
                <p style="color:red">{{_iptu.situacaoPagamento}}</p>
                
            </td> 
            <td style="text-align:right;vertical-align: middle;">
                {{_iptu.valorIptu | currency: 'R$'}}
            </td> 
            
            <td style="text-align:center;vertical-align: middle;">
                <button type="button" (click)="prepareRealizarPagamentoCartaoCredito(_iptu)" title="Pagamento por Cartão de Credito">
                    <i class="icon-credit-card"></i>
                </button>
                <button type="button" (click)="prepareRealizarPagamentoPix(_iptu)" title="Pagamento por Pix">
                    <i class="icon-pix"></i>
                </button>
                <button type="button" (click)="prepareRealizarPagamentoBoleto(_iptu)" title="Pagamento por Boleto">
                    <i class="icon-boleto"></i>
                </button>
                
            </td>    
        </tr>
    </tbody>
</table>
<div *ngIf="this.emProcessamentoConsulta=='true'">
    <img src="../../assets/images/carregando-pacotes.gif" alt="carregando">
</div>


<div *ngIf="isHideModalPagamento == 'true'"  class="modal  fade" id="pagamentoCartao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pagamento {{this.formaPagamentoSelecionada}}</h5>
        </div>
        <div class="modal-body" *ngIf="this.tpFormaPagamentoSelecionada == 'CC'">
            <div *ngIf="this.emProcessamento=='false'" class="row">
                <div class="form-group col-xs-5 col-lg-4">
                    <label for="exampleInputEmail1">Número Cartão</label>
                    <input type="text"  class="form-control input-lg" id="incricaoInput" aria-describedby="incricaoHelp" placeholder="Número Cartão">
                </div>
                <div class="form-group col-xs-5 col-lg-4">
                    <label for="exampleInputEmail1">Data Vencimento</label>
                    <input type="text"  class="form-control input-lg" id="incricaoInput" aria-describedby="incricaoHelp" placeholder="Mês/Ano">
                </div>
                <div class="form-group col-xs-5 col-lg-4">
                    <label for="exampleInputEmail1">Cód Segurança</label>
                    <input type="text"  class="form-control input-lg" id="incricaoInput" aria-describedby="incricaoHelp" placeholder="Código Segurança">
                </div>
            </div>
        </div>


        <div class="modal-body" *ngIf="this.tpFormaPagamentoSelecionada == 'PX'">
            <qrcode [qrdata]="pixUrlQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>    



        <div *ngIf="this.emProcessamento=='true'">
            <img src="../../assets/images/carregando-pacotes.gif" alt="carregando">
        </div>

        <div>   
            <li style="color:red"   *ngIf="messageError != '' ">{{messageError}}</li>
            <ul *ngFor="let _iptu of retornoPagamento;">
                <!--span *ngIf="tamanhoRetorno <= 4">{{doGetPaymentByFilter()}} </span -->
                <li style="color:red"   *ngIf="_iptu.situacaoPagamento == 'Pagamento Cartão de Crédito Selecionado.'">{{_iptu.situacaoPagamento}}</li>
                <li style="color:red"   *ngIf="_iptu.situacaoPagamento == 'Pagamento Pix Selecionado.'">{{_iptu.situacaoPagamento}}</li>
                <li style="color:black" *ngIf="_iptu.situacaoPagamento == 'Pagamento Enviado para Processamento.'">{{_iptu.situacaoPagamento}}</li>
                <li style="color:blue"  *ngIf="_iptu.situacaoPagamento == 'Pagamento Processando,'">{{_iptu.situacaoPagamento}}</li>
                <li style="color:green" *ngIf="_iptu.situacaoPagamento == 'Pagamento Validado.'">{{_iptu.situacaoPagamento}}</li>
             </ul>
        </div>

        <div class="modal-footer"> 
          <button type="button" (click)="fecharModalPagamento()" class="btn btn-secondary" data-mdb-dismiss="modal">Fechar</button>
          <button type="button" *ngIf="exibirBtnRealizarPagamento()" (click)="realizarPagamentoCartaoCredito()" class="btn btn-primary">Realizar Pagamento</button>
        </div>
      </div>
    </div>
  </div>

