.content {
      line-height: 2rem;
      font-size: 1.2em;
    }
     
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 400px;
      padding: 16px;
      margin: 24px 0px;
      background-color: whitesmoke;
      font-family: sans-serif;
    }