<div class="page-header">
    <h1>Portal do Cidadão  
       <small>Consultar Boletim Escolar</small>
    </h1>
 </div>
    <div class="row">
        <div class="form-group col-xs-5 col-lg-4">
            <label for="exampleInputEmail1">Matricula Aluno</label>
            <input type="text" [(ngModel)]="nuMatricula" class="form-control input-lg" id="cpfCnpjInput" aria-describedby="cpfCnpjHelp" placeholder="Número Matricula">
        </div>
    </div>    
    <button type="button" (click)="consultarRegistros()" class="btn btn-primary">Consultar Registros</button>

<div class="simple-space"></div>
  <table class="table" *ngIf="alunoBoletim">
    <thead>
        <tr>
            <td>Disciplina</td>
            <td>1º Bimestre</td>
            <td>2º Bimestre</td>
            <td>3º Bimestre</td>
            <td>4º Bimestre</td>
            <td>Nota Final</td>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align: middle; text-align: center;">
                Geografia
            </td>   
            <td style="vertical-align: middle; text-align: center;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaGeografiaB1}}</p>
            </td> 
            <td style="vertical-align: middle; text-align: center;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaGeografiaB2}}</p>
            </td> 
            <td style="vertical-align: middle; text-align: center;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaGeografiaB3}}</p>
            </td> 
            <td style="vertical-align: middle; text-align: center;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaGeografiaB4}}</p>
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <p style="color:red">{{alunoBoletim.boletim.vrMediaGeografia}}</p>
            </td> 
        </tr>
        <tr>
            <td style="vertical-align: middle;">
                História
            </td>   
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaHistoriaB1}}</p>
            </td> 
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaHistoriaB2}}</p>
            </td> 
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaHistoriaB3}}</p>
            </td> 
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaHistoriaB4}}</p>
            </td>
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrMediaHistoria}}</p>
            </td>  
        </tr>
        <tr>
            <td style="vertical-align: middle;">
                Matemática
            </td>   
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaMatematicaB1}}</p>
            </td> 
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaMatematicaB2}}</p>
            </td> 
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaMatematicaB3}}</p>
            </td> 
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaMatematicaB4}}</p>
            </td> 
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrMediaMatematica}}</p>
            </td> 
        </tr>
        <tr>    
            <td style="vertical-align: middle;">
                Português
            </td>   
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaPortuguesB1}}</p>
            </td> 
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaMatematicaB1}}</p>
            </td> 
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaHistoriaB1}}</p>
            </td> 
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrNotaGeografiaB1}}</p>
            </td> 
            <td style="vertical-align: middle;">
                <p style="color:red">{{alunoBoletim.boletim.vrMediaGeografia}}</p>
            </td> 
        </tr>
    </tbody>
</table>
<div *ngIf="this.emProcessamentoConsulta=='true'">
    <img src="../../assets/images/carregando-pacotes.gif" alt="carregando">
</div>



